@import url("https://fonts.googleapis.com/css?family=Dosis");
body {
  font-family: "Dosis", sans-serif;
}

.carouselExampleIndicators {
  position: relative;
  width: 100%;
}

.carouselExampleIndicators, .carousel-inner, .carousel-item, .img-slider {
  height: 100vh;
}

.img-slider {
  object-fit: contain;
}

.img-slider-1 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00001.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-2 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00002.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-3 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00003.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-4 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00004.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-5 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00005.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-6 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00006.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.img-slider-7 {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://localhost/api-turismo/public/recursos/carousel/Image00007.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

header {
  position: relative;
}

.menu {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  background: #691671;
  background: -moz-linear-gradient(left, #691671 0%, #be215d 100%);
  background: -webkit-linear-gradient(left, #691671 0%, #be215d 100%);
  background: linear-gradient(to right, #691671 0%, #be215d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#691671", endColorstr="#be215d",GradientType=1 );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  margin-top: 45px;
}
.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.menu ul li a {
  display: block;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.menu ul li a:hover {
  font-size: 1.1rem;
  /*
  color: $color-uno;
  font-weight: 600;
  text-shadow: 1px 1px 1px #FFFFFF;
  */
}

.logo {
  position: absolute;
  right: 160px;
  top: 5px;
  position: absolute;
  right: 100px;
  z-index: 33;
}
.logo img {
  width: 130px;
  opacity: 1 !important;
}

.menu-leyenda {
  position: absolute;
  bottom: 4px;
  left: 12rem;
}
.menu-leyenda h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px #3D3D3D;
  font-size: 3em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
  line-height: 2rem;
}
.menu-leyenda span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px #3D3D3D;
  font-size: 3em;
}

.menu-visita-container {
  position: absolute;
  top: 94px;
  left: 0px;
  height: 400px;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #691671;
  background: -moz-linear-gradient(left, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  background: -webkit-linear-gradient(left, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  background: linear-gradient(to right, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#691671", endColorstr="#be215d",GradientType=1 );
  z-index: 30;
  padding-top: 10px;
}
.menu-visita-container .menu-visita {
  color: #fff;
}

.Zonas {
  display: flex;
}

.zonas-data {
  display: flex;
}

.media-zone {
  width: 330px;
  height: 70px;
  padding: 0 8px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.media-zone img {
  height: 80px;
  width: 80px;
  float: left;
}
.media-zone span {
  display: block;
  text-align: right;
  width: 100%;
  padding-top: 40px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 880px) {
  .menu {
    padding: 0 1rem;
  }
  .menu ul li a {
    margin-right: 10px;
  }
  .menu .logo img {
    width: 180px;
  }

  .menu-leyenda {
    position: absolute;
    bottom: 5rem;
    left: 12rem;
  }
  .menu-leyenda h1 {
    font-size: 3em;
  }
  .menu-leyenda span {
    font-size: 3em;
  }
}
.div-zona {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.div-zona .div-zona-img {
  width: 128px;
  height: 128px;
}
.Recorridos .reco-leyenda {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  /* For Edge */
  -moz-text-align-last: justify;
  /* For Firefox prior 58.0 */
  text-align-last: justify;
  max-width: 800px;
  margin: 20px 0 0 auto;
}
.Recorridos .reco-leyenda .reco-l-sub1, .Recorridos .reco-leyenda .reco-l-sub2 {
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  font-size: 3rem;
  margin-bottom: 0px;
  line-height: 3rem;
}
.Recorridos .reco-leyenda .reco-l-sub2 {
  letter-spacing: -1px;
}
.Recorridos .reco-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.Recorridos .reco-titulo .reco-t-sub1 {
  font-size: 3em;
  color: #722789;
  text-transform: capitalize;
  font-weight: 600;
}
.Recorridos .reco-titulo .reco-t-sub2 {
  font-size: 2em;
  padding: 2px 15px;
  background-color: #722789;
  color: #fff;
  text-transform: uppercase;
}
.Recorridos .reco-container {
  margin: 40px auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 20px;
  widows: 100%;
  align-content: space-between;
  justify-content: space-around;
}
.Recorridos .reco-container #sierras {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #sierras .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #sierras:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #sierras .cuadro-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  display: block;
  background-color: #cb6120;
  width: 40%;
}
.Recorridos .reco-container #sierras img {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #sierras .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 45%;
  z-index: 3;
  color: #cb6120;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #sierras .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #norte {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #norte .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #norte:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #norte .cuadro-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  display: block;
  background-color: #a2bd31;
  width: 100%;
}
.Recorridos .reco-container #norte img {
  position: absolute;
  top: 1%;
  right: 10px;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #norte .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 3;
  color: #a2bd31;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #norte .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #costa {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #costa .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #costa:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #costa .cuadro-color {
  position: absolute;
  top: 100px;
  left: 0;
  height: 35%;
  display: block;
  background-color: #326534;
  width: 100%;
}
.Recorridos .reco-container #costa img {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #costa .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 3;
  color: #326534;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #costa .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #valle {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #valle .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #valle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #valle .cuadro-color {
  position: absolute;
  top: 0;
  right: 0;
  height: 80%;
  display: block;
  background-color: #bf3276;
  width: 35%;
}
.Recorridos .reco-container #valle img {
  position: absolute;
  top: 1%;
  left: 0;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #valle .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #bf3276;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #valle .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #villa {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #villa .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #villa:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #villa .cuadro-color {
  position: absolute;
  top: 40%;
  right: 0;
  height: 105px;
  display: block;
  background-color: #e5b449;
  width: 100%;
}
.Recorridos .reco-container #villa img {
  position: absolute;
  top: 1%;
  left: 5%;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #villa .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 3;
  color: #e5b449;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #villa .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #huellas {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #huellas .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #huellas:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #huellas .cuadro-color {
  position: absolute;
  top: 0;
  right: 0;
  height: 85%;
  display: block;
  background-color: #a01127;
  width: 45%;
}
.Recorridos .reco-container #huellas img {
  position: absolute;
  top: 3%;
  left: 0;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #huellas .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #a01127;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #huellas .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #llanura {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #llanura .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #llanura:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #llanura .cuadro-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  display: block;
  background-color: #618dc5;
  width: 100%;
}
.Recorridos .reco-container #llanura img {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #llanura .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 2%;
  z-index: 3;
  color: #618dc5;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #llanura .cuadro-titulo p {
  margin-bottom: 0px;
}
.Recorridos .reco-container #termas {
  position: relative;
  height: 260px;
  width: 100%;
  cursor: pointer;
}
.Recorridos .reco-container #termas .cuadro-titulo p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
  text-transform: uppercase;
}
.Recorridos .reco-container #termas:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Recorridos .reco-container #termas .cuadro-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  display: block;
  background-color: #5ea099;
  width: 35%;
}
.Recorridos .reco-container #termas img {
  position: absolute;
  top: 3%;
  left: 10%;
  z-index: 2;
  width: 200px;
  height: 200px;
}
.Recorridos .reco-container #termas .cuadro-titulo {
  position: absolute;
  bottom: 0;
  left: 38%;
  z-index: 3;
  color: #5ea099;
  font-size: 1.5em;
  font-weight: 600;
}
.Recorridos .reco-container #termas .cuadro-titulo p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 790px) {
  .Recorridos .reco-leyenda {
    text-align: right;
    -moz-text-align-last: none;
    /* For Firefox prior 58.0 */
    text-align-last: none;
    max-width: 600px;
  }
  .Recorridos .reco-leyenda .reco-l-sub1, .Recorridos .reco-leyenda .reco-l-sub2 {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
}
@media only screen and (max-width: 580px) {
  .Recorridos .reco-leyenda {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    max-width: 580px;
  }
  .Recorridos .reco-leyenda .reco-l-sub1, .Recorridos .reco-leyenda .reco-l-sub2 {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}
.Descarga {
  background-image: url("http://localhost/api-turismo/public/recursos/");
  background: #691671;
  background: -moz-linear-gradient(left, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  background: -webkit-linear-gradient(left, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  background: linear-gradient(to right, rgba(105, 22, 113, 0.95) 0%, rgba(190, 33, 93, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#691671", endColorstr="#be215d",GradientType=1 );
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.Descarga img {
  width: 300px;
}
.Descarga .descarga-leyenda {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.Descarga .descarga-leyenda .descarga-titulos {
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-break: keep-all;
}
.Descarga .descarga-leyenda .descarga-titulos .dt-1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 1.15rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 3px;
  font-weight: 100;
}
.Descarga .descarga-leyenda .descarga-titulos .dt-2 {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
  letter-spacing: 0.08rem;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 3px;
  font-weight: 800;
}
.Descarga .descarga-leyenda .descarga-titulos .dt-3 {
  text-transform: lowercase;
  text-shadow: 2px 2px 5px #000;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
}
.Descarga .descarga-icono i {
  font-size: 2rem;
  margin-left: 40px;
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (max-width: 890px) {
  .Descarga {
    margin-top: 160px;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .Descarga img {
    margin-top: -140px;
  }
  .Descarga .descarga-leyenda {
    flex-direction: column;
  }
  .Descarga .descarga-icono i {
    margin: 30px 0px 0px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .Descarga .descarga-leyenda .descarga-titulos {
    text-align: center;
  }
  .Descarga .descarga-leyenda .descarga-titulos .dt-1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 3px;
    font-weight: 100;
  }
  .Descarga .descarga-leyenda .descarga-titulos .dt-2 {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 0.08rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 3px;
    font-weight: 800;
  }
  .Descarga .descarga-leyenda .descarga-titulos .dt-3 {
    text-transform: lowercase;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 800;
  }
}
.Novedades {
  padding-left: 10px;
}
.Novedades .novedades-body {
  width: 100%;
  height: 200px;
  position: absolute;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.Novedades .novedades-body #novedades-carousel {
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #722789;
  padding-left: 100px;
}
.Novedades .novedades-body #novedades-carousel .carousel-inner {
  height: auto;
}
.Novedades .novedades-body #novedades-carousel .carousel-inner .carousel-item {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Novedades .novedades-body #novedades-carousel .carousel-inner .carousel-item img {
  width: 75px;
  height: 75px;
}
.Novedades .novedades-body .novedades-titulo {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #fff;
  padding: 10px 10px 10px 0;
  position: absolute;
}
.Novedades .novedades-body .novedades-titulo p {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 50px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #722789;
}

/*# sourceMappingURL=App.css.map */
